h4{
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	margin-top: 15px;
}
table{
	width: 100%;
	border-spacing: 0PX;
	text-align: center;
	margin-top: 10px;
	padding-top: 20px;
}
table th
{
    width: 100%;
	padding-right: 77px;
}
table td{
	border-bottom: 1px solid #000;
	border-bottom-color: #000;
	padding-left: 3px;
	text-align: left;
}
table div{
	display: inline-block;
	vertical-align:middle;
	margin-left: 7px;
}
table img{
	width: 25PX;
	height:30PX;
	padding-top:5px;
}
/***************************************************************************************************************************************************************/
.tB{
	width: 100%;
	border-spacing: 0PX;
	text-align: center;
	margin-top: 10px;
	color: white;
}
th
{
	color: black;
	padding-left: 200px;
	border-bottom: 1px solid #000;
}
.tB td{
	padding-left: 200px;
	text-align: left;
	padding-top: 10px;
	color: black;
}
.tB div{
	display: inline-block;
	vertical-align:middle;
	margin-left: 7px;
}
.tB img{
	width: 25PX;
	height:30PX;
}